<form class="form-horizontal" method="post" action="detailed_insert" enctype="multipart/form-data">
  <fieldset>
    <legend>导入借款明细</legend>
    <div class="control-group">
      <label class="control-label" for="upload_excel">导入借款的Excel文件</label>
      <div class="controls">
        <input type="file" class="input-xlarge" id="upload_excel" name="upload_excel">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">导入</button>
    </div>
  </fieldset>
</form>