<div class="row-fluid">
    <div class="span4">
        <!--<div>-->
            <!--<ul class="breadcrumb">-->
                <!--<li>-->
                    <!--基本功能：-->
                <!--</li>-->
                <!--<li>-->
                    <!--分页 <span class="divider">/</span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--排序 <span class="divider">/</span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--搜索-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <table class="table table-striped table-bordered table-hover table-condensed datatable" id="left_funder">
            <thead>
                <tr>
                    <th>借款日期</th>
                    <th>借款人</th>
                </tr>
            </thead>
            <tbody>
            <% loan.forEach(function (oneLoan) { %>
                <tr>
                    <td onclick="getLoanInfo(<%= oneLoan %>);"><%= oneLoan.userName %></td>
                    <td><%= oneLoan.loanDate %></td>
                </tr>
        <%  }) %>

                <!--<tr>-->
                    <!--<td>2015-01-24</td>-->
                    <!--<td>孙权</td>-->
                <!--</tr>-->
            </tbody>
        </table>
    </div>
    <div class="span8">
        <div class="navbar">
            <div class="nav-collapse container">
                <ul class="nav">
                    <li class="alert alert-success" onclick="showdiv(1,this);">借款人基本信息</li>
                    <li class="alert alert-info" onclick="showdiv(2,this);">担保人{1}</li>
                    <li class="alert alert-info" onclick="showdiv(3,this);">担保人{2}</li>
                </ul>
            </div>

        </div>
        <!-- 借款人-->
        <div id="loan">
            <!--借款人基本信息 -->
            <div>
                <div class="alert alert-info" >借款人基本信息</div>
                <div>
                    <span class="label-info">姓名：</span>
                    <span id="userName">{name}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">性别：</span>
                    <span>{sex}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">年龄：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">婚史：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">手机号：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="top">
                    <span class="label-info">现地址：</span>
                    <span>{address}</span>
                </div>
                <div class="top">
                    <span class="label-info">户籍地址：</span>
                    <span>{address}</span>
                </div>
                <div class="top">
                    <span class="label-info">所属权：</span>
                    <span>{address}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">身份证号码：</span>
                    <span>{address}</span>
                </div>
                <div class="top">
                    <span class="label-info">借款额度：</span>
                    <span>{address}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">借款日期：</span>
                    <span>{address}</span>
                </div>
                <div class="top">
                    <span class="label-info">借款用途：</span>
                    <span>{address}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">利息周期：</span>
                    <span>{address}</span>
                </div>
                <div class="top">
                    <span class="label-info">从事行业：</span>
                    <span>{address}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="top">
                    <span class="label-info">约定还款日期：</span>
                    <span>{address}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">介绍人：</span>
                    <span>{address}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">经手人：</span>
                    <span>{address}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <!--借款人基本信息 end -->

            <!-- 借款人家庭信息-->
            <div>
                <div class="alert alert-success" style="margin-top: 20px;">借款人家庭信息</div>
                <div>
                    <span class="label-success">关系：</span>
                    <span>父亲</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-success">姓名：</span>
                    <span>{sex}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-success">性别：</span>
                    <span>{sex}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-success">年龄：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="top">
                    <span class="label-success">现居住地址、工作单位及电话号码：</span>
                    <span>{address}</span>
                </div>
            </div>
            <!-- 借款人家庭信息 end-->
        </div>
        <!-- 借款人 end-->
        <!--担保人{1} -->
        <div class="hide" id="gua1">
            <div>
                <div class="alert alert-info" >担保人基本信息</div>
                <div>
                    <span class="label-info">姓名：</span>
                    <span>{name}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">性别：</span>
                    <span>{sex}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">年龄：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">婚史：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">手机号：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="top">
                    <span class="label-info">现地址：</span>
                    <span>{address}</span>
                </div>
                <div class="top">
                    <span class="label-info">户籍地址：</span>
                    <span>{address}</span>
                </div>
                <div class="top">
                    <span class="label-info">所属权：</span>
                    <span>{address}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">身份证号码：</span>
                    <span>{address}</span>
                </div>
                <div class="top">
                    <span class="label-info">从事行业：</span>
                    <span>{address}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <div>
                <div class="alert alert-success" style="margin-top: 20px;">担保人家庭信息</div>
                <div>
                    <span class="label-success">关系：</span>
                    <span>父亲</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-success">姓名：</span>
                    <span>{sex}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-success">性别：</span>
                    <span>{sex}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-success">年龄：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="top">
                    <span class="label-success">现居住地址、工作单位及电话号码：</span>
                    <span>{address}</span>
                </div>
            </div>
        </div>
        <!--担保人{1} end -->

        <!--担保人{2} -->
        <div id="gua2" class="hide">
            <div>
                <div class="alert alert-info" >担保人基本信息</div>
                <div>
                    <span class="label-info">姓名：</span>
                    <span>{name}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">性别：</span>
                    <span>{sex}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">年龄：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">婚史：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">手机号：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="top">
                    <span class="label-info">现地址：</span>
                    <span>{address}</span>
                </div>
                <div class="top">
                    <span class="label-info">户籍地址：</span>
                    <span>{address}</span>
                </div>
                <div class="top">
                    <span class="label-info">所属权：</span>
                    <span>{address}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-info">身份证号码：</span>
                    <span>{address}</span>
                </div>
                <div class="top">
                    <span class="label-info">从事行业：</span>
                    <span>{address}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <div>
                <div class="alert alert-success" style="margin-top: 20px;">担保人家庭信息</div>
                <div>
                    <span class="label-success">关系：</span>
                    <span>父亲</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-success">姓名：</span>
                    <span>{sex}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-success">性别：</span>
                    <span>{sex}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label-success">年龄：</span>
                    <span>{age}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="top">
                    <span class="label-success">现居住地址、工作单位及电话号码：</span>
                    <span>{address}</span>
                </div>
            </div>
        </div>
        <!--担保人{2} end -->

        </div>
</div>

<script>
    $(document).ready(function() {
    $('#left_funder').dataTable( {
      //  "oPaginate": "bootstrap"
        "sScrollX": "100%",
        "sScrollXInner": "110%",
        "bScrollCollapse": true,
 //       "bAutoWidth": true,//自动宽度
        "sPaginationType": "full_numbers", //分页，一共两种样式，full_numbers和two_button(默认)
      //  "bFilter": true,//搜索栏
        "oLanguage": {
            "sLengthMenu": "每页显示 _MENU_ 条数据",
            "sZeroRecords": "对不起，查询不到任何相关数据",
            "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条数据",
            "sInfoEmtpy": "找不到相关数据",
            "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
            "sProcessing": "正在加载中...",
            "sSearch": "搜索",
            "sUrl": "", //多语言配置文件，可将oLanguage的设置放在一个txt文件中，例：Javascript/datatable/dtCH.txt
            "oPaginate": {
                "sFirst":    "首页",
                "sPrevious": "上一页",
                "sNext":     "下一页",
                "sLast":     "尾页"
            }
        } //多语言配置
 //       "aLengthMenu": [[10, 25, 50, -1, 0], ["每页10条", "每页25条", "每页50条", "显示所有数据", "不显示数据"]]  //设置每页显示记录的下拉菜单
    } );
} );
    function showdiv(i,obj){
        $("li").removeClass("alert-success").removeClass("alert-info");
        if(i == 1){
            $("#loan").removeClass().show();
            $("#gua1").removeClass().hide();
            $("#gua2").removeClass().hide();
            $(obj).addClass("alert-success");
            $(obj).next().addClass("alert-info");
            $(obj).next().next().addClass("alert-info");
        }else if(i == 2){
            $("#loan").removeClass().hide();
            $("#gua1").removeClass().show();
            $("#gua2").removeClass().hide();
            $(obj).addClass("alert-success");
            $(obj).prev().addClass("alert-info");
            $(obj).next().addClass("alert-info");
        }else if(i == 3){
            $("#loan").removeClass().hide();
            $("#gua1").removeClass().hide();
            $("#gua2").removeClass().show();
            $(obj).addClass("alert-success");
            $(obj).prev().addClass("alert-info");
            $(obj).prev().prev().addClass("alert-info");
        }
    }

    function getLoanInfo(loan) {
        alert(1);
        alert(loan);
        $("userName").text(loan.userName);
    }
</script>
