<div class="row-fluid">
    <div class="span4">
        <!--<div>-->
            <!--<ul class="breadcrumb">-->
                <!--<li>-->
                    <!--基本功能：-->
                <!--</li>-->
                <!--<li>-->
                    <!--分页 <span class="divider">/</span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--排序 <span class="divider">/</span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--搜索-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <table class="table table-striped table-bordered table-hover table-condensed datatable" id="left_funder">
            <thead>
                <tr>
                    <th>借款日期</th>
                    <th>借款人</th>
                </tr>
            </thead>
            <tbody>
            <% loan.forEach(function (allLoan, index) { %>
                <tr>
                    <td><%= allLoan.userName %></td>
                    <td><%= allLoan.loanDate %></td>
                </tr>
        <%  }) %>

                <!--<tr>-->
                    <!--<td>2015-01-24</td>-->
                    <!--<td>孙权</td>-->
                <!--</tr>-->
            </tbody>
        </table>
    </div>
    <div class="span8">
        <div class="navbar">
            <div class="nav-collapse container">
                <ul class="nav">
                    <li><a>借款人基本信息</a></li>
                    <li><a>担保人{1}</a></li>
                    <li><a>担保人{2}</a></li>
                </ul>
            </div>
            <!--借款人基本信息 -->
            <div>
                <div>
                    <span><label>姓名：</label>{name}</span>
                    <span><label>性别：</label>{sex}</span>
                    <span><label>年龄：</label>{age}</span>
                    <span><label>婚史：</label>{age}</span>
                </div>

            </div>
            <!--借款人基本信息 end -->

            <!--担保人{1} -->
            <div>

            </div>
            <!--担保人{1} end -->

            <!--担保人{2} -->
            <div>

            </div>
            <!--担保人{2} end -->
        </div>

    </div>
</div>


<script>
    $(document).ready(function() {
    $('#left_funder').dataTable( {
        "oPaginate": "bootstrap"
    } );
} );
</script>
