<form class="form-horizontal" method="post">
    <!--<fieldset>-->
        <!--<legend>资金池注入</legend>-->
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="funder">出资人</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="funder" name="funder">-->
            <!--</div>-->
            <!--<label class="control-label" for="amount">金额</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="amount" name="amount">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="password">密码</label>-->
            <!--<div class="controls">-->
                <!--<input type="password" class="input-xlarge" id="password" name="password">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-actions">-->
            <!--<button type="submit" class="btn btn-primary">登录</button>-->
        <!--</div>-->
    <!--</fieldset>-->
    <fieldset>
        <legend>资金池注入</legend>
        <div class="control-group">
            <div class="span1">
            </div>
            <div class="span4">
                <label class="label">出资人</label>
                <input type="text" class="input-xlarge" id="funder" name="funder">
            </div>
            <div class="span1"></div>
            <div class="span5">
                <label class="label">金额</label>
                <input type="number" class="input-xlarge" id="amount" name="amount">
            </div>
            <div class="span1"></div>
        </div>
        <div class="control-group">
            <label class="label">出资日期</label>
            <input type="date" class="dropdown" id="in_date" name="in_date">
            <label class="label">约定抽出日期</label>
            <input type="date" class="dropdown" id="out_date" name="out_date">
        </div>
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="funder">出资人</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="funder" name="funder">-->
            <!--</div>-->
            <!--<label class="control-label" for="amount">金额</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="amount" name="amount">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="password">密码</label>-->
            <!--<div class="controls">-->
                <!--<input type="password" class="input-xlarge" id="password" name="password">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-actions">-->
            <!--<button type="submit" class="btn btn-primary">登录</button>-->
        <!--</div>-->
    </fieldset>
</form>